@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0 !important;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: rgb(10, 141, 178);
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.wrapper__title {
  margin-top: 100px;
  text-align: center;

  font-size: 80px;
  font-weight: 600;
}

.inputs__form {
  position: relative;
}

.inputs__input {
  width: 400px;
  height: 75px;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  margin-bottom: 60px;
  display: block;

  font-size: 18px;
  font-weight: 500;
}

::placeholder {
  font-size: 18px;
  font-weight: 300;
}

.btn {
  margin-left: 10px;
  position: absolute;
  top: 7px;
  right: -75px;
  background: transparent;
  border: none;
}

.buttons__image {
  padding: 8px;
  background-color: rgb(41, 86, 210);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__add-list {
  display: block;
  position: relative;
}

.add__garbidge {
  padding: 3px 3px;
  background-color: rgb(174, 14, 43);
}

.add__input {
  position: relative;
  width: 400px;
  height: 75px;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: none;
  margin-bottom: 5px;
  display: block;

  font-size: 18px;
  font-weight: 500;
}

.add__pencil {
  padding: 3px 3px;
  background-color: rgb(9, 95, 16);
}

.button {
  border: none;
  background: transparent;
  transform: translate(65px, -137px);
}

.button-1 {
  border: none;
  background: transparent;
  transform: translate(60px, -137px);
} 

/* Часы */

.clock {
  width: 400px;
  height: 120px;
  margin-left: 20px;
  margin-top: 20px;
  border: solid 2px #036758;
  background: rgb(4, 213, 213);
}

.time {
  margin-top: 10px;
  display: block;
  justify-content: center;
  text-align: center;

  font-size: 100px;
  color: rgb(6, 107, 10);
}